/*#footer-scroll p,footer p {*/
    /*font-size: 18px*/
/*}*/

/*#footer-scroll a,footer a {*/
    /*font-size: 18px;*/
    /*color: #fff*/
/*}*/

/*#footer-scroll a:hover,footer a:hover {*/
    /*color: #b7192a*/
/*}*/


#footer {
    bottom: 3%
}

#footer-scroll {
    border-top: 2px solid #b7192a;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: 2%
}