#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    font-size: 18px;
    line-height: 1.2em
}

#menu li a,#menu li.active a {
    padding: 9px 18px;
    display: block
}

#menu li.active,#menu li.active a,#menu li.active a:hover,#menu li:hover {
    color: #fff
}

#menu li>a:hover {
    background: 0 0;
    border-bottom: 2px solid #fff
}

#menu {
    position: fixed;
    top: 3.5%;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0
}

#infoMenu li a,.navbar a {
    color: #fff
}

li.logotip:before {
    content: url(../images/lili2.png);
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    margin-left: -113%;
    margin-top: -6%
}

a.logo {
    width: 130%;
    margin-top: -19%;
    margin-left: -10%
}

#header {
    top: 3%
}