/* Style for our header texts
       * --------------------------------------- */
h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
}
#section0 h2 {
    top: 25%;
    transform: translateY(-15%);
    position: relative;
}

#section0 .text {
    top: 30%;
    transform: translateY(2%);
    position: relative;
    padding: 0 5%;
}

#section0 .text span {
    color: #b7192a;

}

#section2 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
    padding: 0% 0 0 0;
}

#section2 h2 {
    transform: translateY(576%);
    position: relative;
    text-align: right;
}

#section2 p {
    transform: translateY(351%);
    position: relative;
    text-align: right;
}

#section3 {
    background-image: url(../images/bg4.jpg);
    padding: 6% 0 0 0;
}

#section3 h1 {
    color: #000;
}

#section1 .block-menu {
    top: 50%;
    transform: translateY(50%);
    position: relative;
}

.container {
    width: 1400px;
}

#section1 .block-menu:hover {
    background: black;
    border-radius: 15px;
}

.block-menu-telo {
    background: none;
    color: white;
    text-align: center;
    padding: 4% 0% 4% 0%;
}

#section1 h2 {
    transform: translateY(193%);
}

.linkblock {
    cursor: pointer;
}

.razrabotka {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/a1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.prodvishenie {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/b1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.poddershks {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/c1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.img {
    width: 30%;
}

.block-menu {
    padding: 1% 15px;
}

/*Adding background for the slides
* --------------------------------------- */
#slide1 {
    background-image: url("../images/laptop.jpg");
    background-color: rgba(0, 0, 0, .3);
    padding: 6% 0 0 0;
}

#slide2 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
    padding: 6% 0 0 0;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

h1:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'PT Sans', arial;
    margin-top: 4%;
    font-size: 2em;
}

h2:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'PT Sans', arial;
    margin-top: 4%;
    font-size: 1.5em;
}

h2 {
    font-size: 30px;
}
.border-text{
    text-shadow:
            -0   -1px 0   #000000,
            0   -1px 0   #000000,
            -0    1px 0   #000000,
            0    1px 0   #000000,
            -1px -0   0   #000000,
            1px -0   0   #000000,
            -1px  0   0   #000000,
            1px  0   0   #000000,
            -1px -1px 0   #000000,
            1px -1px 0   #000000,
            -1px  1px 0   #000000,
            1px  1px 0   #000000,
            -1px -1px 0   #000000,
            1px -1px 0   #000000,
            -1px  1px 0   #000000,
            1px  1px 0   #000000;
}

p {
    line-height: 1.3em;
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'PT Sans', arial;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'PT Sans', arial;
}

.rown {
    margin-right: -30px;
    margin-left: -30px;
}

.fp-tooltip {
    color: #AAA;
}

#fp-nav span, .fp-slidesNav span {
    border-color: #AAA;
}

#fp-nav li .active span, .fp-slidesNav .active span {
    background: #b7192a;
}

.grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-gap: 20px;
    grid-auto-rows: minmax( 100px, auto);
    grid-auto-rows: 160px 160px 160px ;
    grid-auto-flow: row;
}
.grid div:nth-child(even){
    background: red;
}
.grid div:nth-child(odd){
    background: rebeccapurple;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

a {
    color: #b7192a;
}

.social{
    color: #f7fcff;
}

.navbar a {
    color: #ffffff;
    font-size: 20px;
}

.navbar-fixed-top {
    top: 4%;
    border-width: 0 0 1px;
}

.navbar-nav {
    float: left;
    margin-left: 17%;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
}

.navbar-nav > li > a:hover {
    background: none;
    border-bottom: 2px solid white;
}

.telefon {
    display: inline-block;
    margin-top: 1%;
    font-weight: 600;
    float: right;
}

.tel{
    color: white;

}
.tel:hover{
    color: white;
    text-decoration: none;
}

footer p {
    font-size: 18px;
}

footer a {
    font-size: 18px;
    color: white;
}

footer a:hover {
    color: #b7192a;
}

#sh_dot01 {
    font-size: 22px;
}

a:hover {
    color: white;
    text-decoration: underline
}
 a.logo:hover {
        border: none !important;
}
a.logo {
    width: 130%;
    margin-top: -19%;
    margin-left: 81%;
}

li.logotip:before {
    content: url(../images/lili2.png);
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    margin-left: 29%;
    margin-top: -6%;



}
.phone{
    border: none !important;
}
.soc-set{
    width: 10%;
}


.contact-center h2{
    transform: translateY(221%);
    margin-bottom: 15%;
}
a.knopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #b7192a; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

a.knopka:hover {
    background: rgb(232, 95, 76);
    color: white
}

/* при наведении курсора мышки */
a.knopka:active {
    background: white;
}

/* при нажатии */
#header, #footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;

    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header {
    top: 3%;
}

#footer {
    bottom: 3%;
}

#form-contact {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    display: none;
}
.contact-center {
    margin-top: 100px;
}
* {
    box-sizing: border-box;
}

label[for] {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

body {
    background-color: #000;
}

.lightbox, .grid {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.lightbox {
    z-index: 1;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.lightbox img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {
    opacity: .125;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    z-index: 0;
    height: 100%;
    padding: 16px;
    overflow: auto;
    background-color: #222;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}
.grid .grid-item {
    display: inline-block;
    width: 25%;
    padding: 16px;
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.grid .grid-item:hover {
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    .grid .grid-item {
        width: 50%;
    }
}
@media screen and (max-width: 480px) {
    .grid .grid-item {
        width: 100%;
    }
}
.grid img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.grid .grid-item