/* Style for our header texts
       * --------------------------------------- */
h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
}

#section0 h2 {
    top: 25%;
    transform: translateY(-15%);
    position: relative;
}

#section0 .text {
    top: 30%;
    transform: translateY(2%);
    position: relative;
    padding: 0 5%;
}

#section0 .text span {
    color: #b7192a;

}

#section2 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
    padding: 0% 0 0 0;
}

#section2 h2 {
    transform: translateY(576%);
    position: relative;
    text-align: right;
}

#section2 p {
    transform: translateY(351%);
    position: relative;
    text-align: right;
}

#section3 {
    background-image: url(../images/bg4.jpg);
    padding: 6% 0 0 0;
}

#section3 h1 {
    color: #000;
}

#section1 .block-menu {
    top: 50%;
    transform: translateY(50%);
    position: relative;
}

.container {
    width: 1400px;
}

#section1 .block-menu:hover {
    background: black;
    border-radius: 15px;
}

.block-menu-telo {
    background: none;
    color: white;
    text-align: center;
    padding: 4% 0% 4% 0%;
}

#section1 h2 {
    transform: translateY(193%);
}

.linkblock {
    cursor: pointer;
}

.razrabotka {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/a1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.prodvishenie {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/b1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.poddershks {
    padding-top: 8%;
    padding-bottom: 8%;
    /*background-image: url(../images/c1.png);*/
    background-position: -13% 35%;
    background-size: 137%;

}

.img {
    width: 30%;
}

.block-menu {
    padding: 1% 15px;
}

/*Adding background for the slides
* --------------------------------------- */
#slide1 {
    background-image: url("../images/laptop.jpg");
    background-color: rgba(0, 0, 0, .3);
    padding: 6% 0 0 0;
}

#slide2 {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(30, 39, 58)), to(rgb(67, 49, 58)));
    padding: 6% 0 0 0;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

h1:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'PT Sans', arial;
    margin-top: 4%;
    font-size: 2em;
}

h2:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'PT Sans', arial;
    margin-top: 4%;
    font-size: 1.5em;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'PT Sans', arial;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'PT Sans', arial;
}

.rown {
    margin-right: -30px;
    margin-left: -30px;
}

.fp-tooltip {
    color: #AAA;
}

#fp-nav span, .fp-slidesNav span {
    border-color: #AAA;
}

#fp-nav li .active span, .fp-slidesNav .active span {
    background: #b7192a;
}

.dark {
    opacity: 0.4;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

a {
    color: #b7192a;

}

.navbar a {
    color: #ffffff;
    font-size: 20px;
}

.navbar-fixed-top {
    top: 4%;
    border-width: 0 0 1px;
}

.navbar-nav {
    float: left;
    margin-left: 17%;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
}

.navbar-nav > li > a:hover {
    background: none;
    border-bottom: 2px solid white;
}

.telefon {
    margin-top: 1%;
    font-weight: 600;
    float: right;
}

footer p {
    font-size: 18px;
}

footer a {
    font-size: 18px;
    color: white;
}

footer a:hover {
    color: #b7192a;
}

#sh_dot01 {
    font-size: 22px;
}

a:hover {
    color: white;
    text-decoration: underline
}

ul.logo > li:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 10%;
    -webkit-transform: translateX(-26%);
    transform: translateX(-26%);
    padding-top: 107px;
    display: block;
    width: 44px;
    height: 67px;
    background-image: url(../images/lili.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

a.knopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #b7192a; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

a.knopka:hover {
    background: rgb(232, 95, 76);
    color: white
}

/* при наведении курсора мышки */
a.knopka:active {
    background: white;
}

/* при нажатии */
#header, #footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;

    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header {
    top: 3%;
}

#footer {
    bottom: 3%;
}

#form-contact {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    display: none;
}
.contact-center {
    margin-top: 100px;
}