@media screen and (min-width: 1240px) and (max-width: 1440px){
	a.logo {

		margin-top: -19%;
		margin-left: 32%;
	}
	li.logotip:before {

		margin-left: -40%;
		margin-top: -6%;
	}
	p {

		font-size: 16px;

	}
	h2 {
		font-size: 24px;
	}
	#sh_dot01 {
		font-size: 17px;
	}
	.slide2 {
		background-image: url(../images/adaptiv-dizain.jpg);
		background-repeat: no-repeat;
		background-position: 53% 28%;
		background-size: 31%;
	}
	#section2 h2:nth-child(2) {
		top: 25%;
		transform: translateY(486%);
		position: relative;
		letter-spacing: 2px;
	}
	#slide2 {
		background-image: url(../images/calltoaction.jpg);
		background-repeat: no-repeat;
		background-position: 53% 37%;
		background-size: 135%;
		padding: 6% 0 0 0;
	}
	#contact2 {
		margin-top: 23%;
		margin-left: 19%;
	}
}