@media only screen and (max-width: 1920px) {
    .opisanie_visible {
        visibility: hidden;
    }
}

@media only screen and(min-width: 1280px) and (max-width: 1366px) {
    #header {
        padding: 5px 0 0;
    }

    #header .logotip {
        margin-top: 0%;
        position: relative;
        margin-left: 0%;
        float: right;
    }

    #header h1:before {
        margin-top: -4%;
    }

    .cmn-toggle-switch {
        margin: 0% 0%;
    }

    #header h3 {
        position: relative;
        margin-top: 0%;
    }

    #header h3:before {
        margin-left: -122%;
        padding-right: 55%;
        margin-top: -7%;
    }

    #header {
        top: 4%;
    }

    p {
        font-size: 17px;
        color: white;
    }

    #section0 h1 {
        font-size: 26px;

    }

    #section0 .center-content {
        padding-top: 10%;
    }

    .center-content {
        padding-top: 10%;
        padding-bottom: 100px;
    }

    #section1 h1 {
        font-size: 26px;
    }

    #section1 .center-content {
        padding-top: 6%;
    }

    #section1 .img {
        margin-top: 3%;
        width: 95%;
    }

    #slide1 .container {
        padding-top: 7%;
    }
    #section1 #slide1 .container{
        padding-top: 0;
    }

    #section1 #slide2 h2 {
        margin-bottom: 5%;
    }

    #section1 #slide3 h2 {
        margin-bottom: 5%;
    }

    #section1 #slide4 h2 {
        margin-bottom: 5%;
    }

    #section1 #slide5 .h2 {
        margin-bottom: 5%;
    }

    .block-menu-img {
        width: 118%;
    }

    #section3 h1 {
        font-size: 26px;
    }


    #section3 .center-content {
        padding-top: 6%;
    }

    #section4 h1 {
        font-size: 26px;
    }

    .grid .grid-item {
        width: 26%;
    }

    #section5 h1 {
        font-size: 26px;
    }

    #section2 .center-content {
        padding-top: 6%;
        padding-bottom: 82px;
    }

    #section4 .center-content {
        padding-top: 6%;
        padding-bottom: 100px;
    }

    #section5 .center-content {
        padding-top: 26%;
    }

    .opisanie {
        visibility: hidden;
    }

    .opisanie_visible {
        visibility: visible;
    }

    #section3 #slide2 .container-fluid .motivation {
        padding-top: 4%;
        margin-left: 3%;
    }

    #contact2 .pull-left {
        width: 165px;
        margin-right: 10px;
    }





    .modalDialog > div {
        width: 307px;
    }


    #section1 .opisanie li:last-child,
    #section1 .opisanie_visible li:last-child {
        color: white;
        font-size: 27px;
        background: #b7192a;
        text-align: center;
        border-radius:15px ;
        margin-top: 5%;
        padding: 1% 5%;
        width: 78%;
    }
    .price {
        height: 220px;
        margin-top: 1%;
    }
    .price h2{
        font-size: 20px;
    }
    .fp-slidesNav.bottom{
        bottom: 70px;
    }
    .price_up{
        margin-top: -3%;
    }
    svg {
        width: 200px;
    }
    .modalDialog > div {
         width: 400px;
         height: 100%;
         position: relative;
         margin: 0% 0%;
         padding: 9% 6% 0 6%;
         left: -400px;
         background: #fff;
         /* background: -webkit-linear-gradient(#fff, #999); */
     }
    .logo {
        color: black;
        margin-bottom: 5%!important;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 3% 0;
        letter-spacing: 5px;
        /*text-align: left;*/
    }
    .-blockImac {
        width: 100rem;
        margin: 1em auto;
    }
    #section3 #slide3 .layer {
        width: 49em;
        height: 22em;
        margin: 1.4em 16em;
    }
    .logo-adaptivImac {
        background-size: 39em;
        padding-bottom: 240%;
    }
    #section3 #slide3 .logo-adaptiv {
        height: 51em;
        width: 42em;
    }
    #section3 #slide4 .layer {
        width: 50em;
        height: 26.5em;
        margin: 1.7em 11.5em;
    }
    .logo-adaptivMacbook {
        background-size: 41em;
        padding-bottom: 120em;
    }
    .logo-adaptivIppleMacbook {
        width: 55em;
    }
    #section3 #slide4 .container-fluid {
        padding-top: 1%;
    }
    .-blockIpad {
        width: 64em;
        margin: 2em auto;
    }
    #section3 #slide5 .layer {
        width: 23.65em;
        height: 25.1em;
        margin: 2em 22.2em;
    }
    .logo-adaptivIpad {
        background-size: 18.9em;
        padding-bottom: 107.5em;
    }
    .logo-adaptivIppleIpad {
        width: 21em;
    }
    .-blockIphone {
        width: 65em;
        margin: 0 auto;
    }
    #section3 #slide6 .layer {
        width: 20.5em;
        height: 25.7em;
        margin: 2.8em 25em;
    }
    .logo-adaptivIphon {

        background-size: 14.2em;
        padding-bottom: 234em;
    }
    .logo-adaptivIppleIphon {
        width: 16em;
    }
}

@media only screen and (max-width: 1280px) {
    #section1 #slide1 .container {
        padding: 1% 5% 0 5%;
    }

    #section1 .center-content {
        padding-top: 14%;
    }

    #header .logotip {
        margin-top: -2%;
    }

    #section0 .center-content {
        padding-top: 18%;
    }

    #section2 .center-content {
        padding-top: 9%;
        padding-bottom: 10%;
    }

    #section3 .center-content {
        padding-top: 10%;
    }



    .grid .grid-item {
        width: 30%;
    }

    #section4 .center-content {
        padding-top: 10%;
    }

    #section5 .center-content {
        padding-top: 44%;
    }

    .fp-controlArrow.fp-prev {
        border-width: 27px 54px 27px 0;
        background-size: 54px;
    }

    .fp-controlArrow.fp-next {
        border-width: 28px 64px 28px 0;
        background-size: 54px;
    }

    .modalDialog > div {
        padding: 16% 4% 0 4%;
    }



    #contact2 .pull-left {
        width: 150px;
    }


    .price {
        height: 210px;
        margin-top: 5%;
    }
    #section1 .opisanie li:last-child,
    #section1 .opisanie_visible li:last-child {
        color: white;
        font-size: 27px;
        background: #b7192a;
        text-align: center;
        border-radius:15px ;
        margin-top: 10%;
        padding: 1% 5%;
        width: 78%;
    }
    svg {

        width: 205px;
    }
       #section3 #slide3 .layer {
        width: 59em;
        height: 30em;
        margin: 2em 9em;
    }
    .logo-adaptivImac {
        background-size: 53em;
        padding-bottom: 240%;
    }
    #section3 #slide3 .logo-adaptiv {
        height: 51em;
        width: 56em;
    }
    #section3 #slide2 .container-fluid {
        padding-top: 10%;
    }
}
