#section2 h2 {
    top: 25%;
    transform: translateY(4%);
    position: relative;
    letter-spacing: 2px
}

#section2 h2:nth-child(2) {
    top: 25%;
    transform: translateY(477%);
    position: relative;
    letter-spacing: 2px
}

#section2 .contact{
    position: fixed;
    margin-bottom: 5px;

}
#slide2{
    text-align: center;
}

.logo-adaptiv{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 991px){
    .logo-adaptiv{
        background-image: url(../images/adaptiv-dizain.jpg);
    }
}

#send2 {
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
    background: #b7192a;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.txt2 {
    text-align: center;
    display: block;
    color: #676767;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px !important;
    line-height: 1.4em;
}

#contact2{
    display: inline-block;
}

#contact2 .pull-left{
    width: 200px;
    margin-right: 10px;
}

/*сделать также только в зависимости от разрешения изменять изображение*/

/*#section2 .center-content {*/
    /*background-image: url(../images/adaptiv-dizain.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 53% 29%;*/
    /*background-size: 37%;*/
/*}*/