#section3 h2, #section3 p {
    color: #fff;
}

/*серая карта*/
[class*=ymaps-2][class*=-ground-pane] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%)
}

#section3 {
    background-image: url(../images/web-user-acceptance.jpg);
    padding: 0 0 0 0;
}

/*на мобилке есть ненужный отступ*/
#section3 .no-padding-left {
    padding-left: 0;
}

#section3 .blackout {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 999;
    height: 100%;
}

/*выравнивание текста по правому краю*/
@media screen and (min-width: 996px) {
    #section3 {
        text-align: center;
    }
}
#section3 .center-content{
    padding-top: 7%;
}
#section3 #slide4 .container-fluid {
    padding-top: 5%;
}
#section3 #slide5 .container-fluid {
    padding-top: 1%;
}
#section3 #slide6 .container-fluid {
    padding-top: 1%;
}
#section3 h1{
    font-size: 30px;
    margin-bottom: 3%;

}
#section3 h2{
    margin-bottom: 2%;
}
.logo-adaptiv{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.logo-adaptivFirst{
    width: 400px;
    height: 594px;
}
.logo-adaptivIppleImac{
    width: 400px;
    height: 395px;
}
.logo-adaptivIppleMacbook{
    width: 400px;
    height: 560px;
}
.logo-adaptivIppleIpad{
    width: 400px;
    height: 654px;
}
.logo-adaptivIppleIphon{
    width: 400px;
    height: 682px;
}



.logo-adaptivImac{
    background-image: url(../images/imac1.png);
    background-repeat: no-repeat;
    background-size: 81%;
    padding-bottom: 240%;
}
.logo-adaptivMacbook{
    background-image: url(../images/imac1.png);
    background-repeat: no-repeat;
    background-size: 81%;
    padding-bottom: 238%;
}
.logo-adaptivIpad{
    background-image: url(../images/ipad1.png);
    background-repeat: no-repeat;
    background-size: 81%;
    padding-bottom: 460%
}
.logo-adaptivIphon{
    background-image: url(../images/iphon.png);
    background-repeat: no-repeat;
    background-size: 81%;
    padding-bottom: 1327%;
}

/*ноутбук*/



/*планшет*/

/*телефон*/
.logo-adaptivFirst{
    background-image: url(../images/adaptiv-dizain.png);
    width: 85%;
}
.logo-adaptivIppleImac{
    background-image: url(../images/adaptive-imac.png);
    width: 25%;
}
.logo-adaptivIppleMacbook{
    background-image: url(../images/adaptive-macboock.png);
    width: 50%;
}
.logo-adaptivIppleIpad{
    background-image: url(../images/adaptive-ipad.png);
    width: 25%;
}
.logo-adaptivIppleIphon{
    background-image: url(../images/adaptive-phone.png);
    width: 18.5%;
    position: relative;

}

#section3 #slide4.logo-adaptivMacbook{
    height: 718px;
    width: 44%;
}
#section3 #slide5.logo-adaptivIpad{
    height: 718px;
    width: 44%;
}
#section3 #slide6.logo-adaptivIphon{
    height: 718px;
    width: 44%;
}

#section3 #slide3 .logo-adaptiv {
    height: 718px;
    width: 44%;
}
#section3 #slide3 .layer {
    overflow: auto;
    width: 10.1%;
    height: 61%;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    margin-left: 5.8%;
    margin-top: 0.2%;
    cursor: pointer;
}
#section3 #slide4 .layer {
    overflow: auto;
    width: 9.1%;
    height: 61%;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    margin-left: 6.3%;
    margin-top: 0.3%;
    cursor: pointer;
}
#section3 #slide5 .layer {
    overflow: auto;
    width: 5.65%;
    height: 77.99%;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    margin-left: 7.59%;
    margin-top: 0.47%;
    cursor: pointer;
}
#section3 #slide6 .layer {
    overflow: auto;
    width: 4%;
    height: 75.3%;
    padding: 5px;
    position: absolute;
    z-index: 10000;
    margin-left: 8.2%;
    margin-top: 0.6%;
    cursor: pointer;

}


/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}
#section3 #slide2 .container-fluid{
    padding-top: 5%;
}
#section3 #slide2 .container-fluid .col-lg-push-1{
    left: 3.333333%;
}
#section3 #slide2 .container-fluid .motivation{
    padding-top: 6%;
}