#section2 h2 {
    top: 25%;
    transform: translateY(4%);
    position: relative;
    letter-spacing: 2px
}

#section2 h2:nth-child(2) {
    top: 25%;
    transform: translateY(477%);
    position: relative;
    letter-spacing: 2px
}

#section2 .contact{
    position: fixed;
    margin-bottom: 5px;

}
#slide2{
    text-align: center;
}

.logo-adaptiv{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

/*большие экраны*/
@media only screen and (min-width : 1824px) {
    .logo-adaptiv{
        background-image: url(../images/adaptive-imac.png);
    }
}
/*ноутбук*/
@media only screen and (min-width : 1024px) {
    .logo-adaptiv{
        background-image: url(../images/adaptiv-dizain.jpg);
        width: 26%;
    }
}
/*планшет*/
@media only screen and (min-width : 480px) and (max-width : 1024px)  {
.logo-adaptiv{
        background-image: url(../images/adaptive-ipad.jpeg);
    }
}
/*телефон*/
@media only screen and (min-width : 320px) and (max-width : 480px){
    .logo-adaptiv{
        background-image: url(../images/adaptive-phone.png);
    }
}

#send2 {
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
    background: #b7192a;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.txt2 {
    text-align: center;
    display: block;
    color: #676767;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px !important;
    line-height: 1.4em;
}

#contact2{
    display: inline-block;
}

#contact2 .pull-left{
    width: 200px;
    margin-right: 10px;
}
#section2 h1{
    font-size: 30px;
    margin-bottom: 3%;
    text-shadow: -0 -1px 0 #000000,
    0 -1px 0 #000000,
    -0 1px 0 #000000,
    0 1px 0 #000000,
    -1px -0 0 #000000,
    1px -0 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
#section2 li:before {
    content: "⚜";
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    color: white;
    margin-right: 1%;
    margin-top: -1%;
}
#section2 li:nth-child(13),
#section2 li:nth-child(14),
#section2 li:nth-child(13):before,
#section2 li:nth-child(14):before{
    color: #b7192a;
    text-shadow: -0 -1px 0 #000000,
    0 -1px 0 #000000,
    -0 1px 0 #000000,
    0 1px 0 #000000,
    -1px -0 0 #000000,
    1px -0 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    content: none;
}

/*сделать также только в зависимости от разрешения изменять изображение*/

/*#section2 .center-content {*/
    /*background-image: url(../images/adaptiv-dizain.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 53% 29%;*/
    /*background-size: 37%;*/
/*}*/