#section0 h2 {
    letter-spacing: 0.1em;
    color: #fff;
}

#section0 .text {
    padding: 0 5%;
    color: white;
}

#section0 .text span,a {
    color: #000000
}
#section0 h2{
     margin-bottom: 4%;
    font-size: 28px;
 }
 h1{
     color: white;
 }
#section0 .center-content{
    padding-top: 14%;
}
#section0 h1{
    font-size: 30px;
    margin-bottom: 3%;

}
#section0 h1:first-letter,
#section0 h2:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'Mon Amour One Medium', arial;
    margin-top: 4%;
    font-size: 2em;
}
