#section5 h2, #section5 p {
    color: #fff;
}

/*серая карта*/
[class*=ymaps-2][class*=-ground-pane] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%)
}

#section5 {
    background-image: url(../images/web-user-acceptance.jpg);
    background-position: -36em 0px;
}

/*на мобилке есть ненужный отступ*/
#section5 .no-padding-left {
    padding-left: 0;
}

#section5 .blackout {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
    height: 100%;
}


#section5 .center-content {
    padding-top: 5%;
    padding-bottom: 5%;
}
#section5 h1{
    font-size: 30px;
    margin-bottom: 3%;
    text-shadow: -0 -1px 0 #000000,
    0 -1px 0 #000000,
    -0 1px 0 #000000,
    0 1px 0 #000000,
    -1px -0 0 #000000,
    1px -0 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
.about-us {
    left: 27%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.35);
    width: 31em;
    top: 39%;
    position: absolute;
}
#section5 h1:first-letter,
#section5  h2:first-letter {
    text-transform: capitalize;
    color: #b7192a !important;
    font-family: 'Mon Amour One Medium', arial;
    margin-top: 4%;
    font-size: 2em;
}