
.block-menu:hover, #section4 .block-menu:hover {
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 15px;
}

.block-menu {
    border: groove;
    border-radius: 15px;
    text-align: center;
    /*margin-left: 10px;*/

}

.block-menu-telo {
    display: inline-block;
    /*height: 150px;*/
    /*width: 170px;*/
}

li {
    font-size: 18px;
}

#section1 .center-content {
    padding-top: 10%;
}

#section1 .opisanie li:last-child:after,
#section1 .opisanie_visible li:last-child:after {
    content: "\20BD";
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
}
#section1 .opisanie li:last-child,
#section1 .opisanie_visible li:last-child{
    color: #b7192a;

}
#section1 .opisanie li:before,
#section1 .opisanie_visible li:before{
    content: "⚜";
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    color: white;
    margin-right: 1%;
    margin-top: -1%;
}
#section1 .opisanie li:last-child:before,
#section1 .opisanie_visible li:last-child:before{
    content: none;
}
#section1 .img{
    margin-top: 10%;
}
#section1 h1{
    font-size: 30px;
    margin-bottom: 3%;

}
#section1 #slide1 .container{
    padding-top: 7%;
}
