#section0,#section0 .text {
    position: relative;
    opacity: 1
}

#section0 {
    background-position: center;
    background-repeat: no-repeat;
    z-index: -3
}

#section0 h2 {
    top: 50%;
    position: relative;
    letter-spacing: .1em;
    margin-bottom: 3%
}

#section0>.container-fluid>.row>.centrovka>.text>h2 {
    position: relative;
    letter-spacing: .1em;
    margin-bottom: 3%;
    margin-top: 3%
}

#section0 .text {
    padding: 0 5%;
    z-index: 999
}

#section0 .text span,a {
    color: #b7192a
}
