#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    font-size: 18px;
    line-height: 1.2em
}

#menu li a,#menu li.active a {
    padding: 9px 18px;
    display: block
}

#menu li.active,#menu li.active a,#menu li.active a:hover,#menu li:hover {
    color: #fff
}

#menu li>a:hover {
    background: 0 0;
    border-bottom: 2px solid #fff
}

#menu {
    position: fixed;
    top: 3.5%;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0
}

#infoMenu li a,.navbar a {
    color: #fff
}

#header h1:before {
    content: url(../images/lili2.png);
    display: inline-block;
    vertical-align: middle;
    margin-left: -21%;
    padding-right: 18%;
    margin-top: -5%;
}
#header h3 a {
    color: #ffffff;
}
#header h3  {
    margin-right: 0%;
}
/*a.logot {*/
    /*color: white;*/
    /*width: 130%;*/
    /*margin-top: -27%;*/
    /*margin-left: 112%*/
/*}*/

#header {
    top: 0%;
    background: black;
}

#header {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0;
}
#header  .logotip{
    font-size: 25px;
    display: inline-block;
    margin-top: 0%;
    margin-left: 50%;
}
#header h3  {
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
}
#header div:nth-child(3){
    padding-left: 0;
}
li > a {
    color: #000;
}
.social {
    color: #f7fcff;
    font-size: 4vw;
}