@media only screen and (min-width: 786px) and  (max-width: 1024px){

    .modalDialog li:nth-child(6) {
        bottom: 7%;
        margin-top: 25%;
    }
    #header {
        height: 70px;
        padding: 15px 0 0;
    }
    .modalbox {
        margin: 0% auto 20px;
    }
    #header .logotip {
        font-size: 31px;
        display: inline-block;
        margin-top: 1%;
        margin-left: 34%;
    }
    .modalDialog > div {
        width: 400px;
        height: 100%;
        position: relative;
        margin: 0% 0%;
        padding: 15% 4% 0 4%;
        left: -400px;
        background: #fff;
        overflow: auto;
        /* background: -webkit-linear-gradient(#fff, #999); */
    }
    @-webkit-keyframes slideInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(400px);
            transform: translateX(400px);
        }
    }

    @keyframes slideInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(400px);
            -ms-transform: translateX(400px);
            transform: translateX(400px);
        }
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    @-webkit-keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(400px);
            transform: translateX(400px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(400px);
            -ms-transform: translateX(400px);
            transform: translateX(400px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .slideOutLeft {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 30px;
    }
    .social {
        color: #f7fcff;
        font-size: 2vw;
    }
    .logo {
        color: black;
        margin-bottom: 20%!important;
    }
    #header .logotip {
        font-size: 31px;
        display: inline-block;
        margin-top: 0%;
        margin-left: 34%;
    }
    .section {
        padding-top: 10%;
    }
    #section1 li{
        font-size: 20px;
    }
    #section2 li{
        font-size: 20px;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 25px;
    }
    #section2 h2 {
        font-size: 25px;
    }
    #section2 .block-menu-img {
        margin-bottom: 5%;
    }
    #section3 .block-menu-img {
        width: 100%;
        margin-top: 0%;
    }
    #section2 h2 {
        font-size: 25px;
    }
    .txt, .txt2, .txtarea, #hide-contact, #send, #send2 {
        padding: 14px 9px;
        margin-top: 10px;
    }
    p {
        font-size: 20px;
    }
    #section6 h1 {
        font-size: 34px;
    }
    #section6 .blackout{
        padding-top: 25%;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: left;
        border-bottom: solid 1px #b7192a;
    }
    .modalDialog div li:hover{
        border-bottom: none;
    }
    .modalDialog li:nth-last-child(2){
        margin-top: 17%;
        text-align: center;
        border-bottom: none;
    }
    .modalDialog div li:first-child,
    .modalDialog div li:last-child{
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }
}
@media only screen and (min-width: 361px) and (max-width: 786px) {
    .section {
        padding-top: 10%;
    }

    #header .logotip {
        font-size: 23px;
        display: inline-block;
        margin-top: 2%;
        margin-left: 4%;
    }

    #header div:nth-child(3) {
        padding-left: 0px;
        margin-right: 0px;
    }

    .modalbox {
        font-size: 1.5em;
        width: 139px;
        margin: 0% auto 0px;
    }

    .social {
        color: #f7fcff;
        font-size: 3vw;
    }

    .modalDialog > div {
        width: 400px;
        left: -400px;
    }

    @-webkit-keyframes slideInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(400px);
            transform: translateX(400px);
        }
    }

    @keyframes slideInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(400px);
            -ms-transform: translateX(400px);
            transform: translateX(400px);
        }
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    @-webkit-keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(400px);
            transform: translateX(400px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translateX(400px);
            -ms-transform: translateX(400px);
            transform: translateX(400px);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .slideOutLeft {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
    }

    .modalDialog > div {
        padding: 23% 4% 0 4%;
    }

    .modalDialog div li {
        font-size: 26px;
    }

    .modalDialog li:last-child {
        font-size: 22px;
    }

    .cmn-toggle-switch {
        margin: 3% 0%;
    }

    li {
        font-size: 18px;
    }

    .block-menu-img {
        margin-bottom: 5%;
    }

    #section3 .block-menu-img {
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .txt, .txt2, .txtarea, #hide-contact, #send, #send2 {
        padding: 14px 9px;
    }

    .txt, .txt2, .txtarea {
        width: 223px;
    }

    #contact2 .pull-left {
        width: 226px;
    }
    h2 {
        font-size: 23px;
    }
    #header {
        height: 65px;
    }
    #header {
        padding: 7px 0 0;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: left;
        border-bottom: solid 1px #b7192a;
    }
    .modalDialog div li:hover{
        border-bottom: none;
    }
    .modalDialog li:nth-last-child(2){
        margin-top: 17%;
        text-align: center;
        border-bottom: none;
    }
    .modalDialog div li:first-child,
    .modalDialog div li:last-child{
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }
}
@media only screen and (max-width: 640px){
    #header div:nth-child(3) {
        padding-left: 15px;

    }
    #header .logotip {
        font-size: 23px;
        display: inline-block;
        margin-top: 2%;
        margin-left: 0%;
    }
    #contact2 .txt, #contact2 .txt2, #contact2 .txtarea {
        width: 226px;
    }
    .txt, .txt2, .txtarea {
        width: 300px;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: left;
        border-bottom: solid 1px #b7192a;
    }
    .modalDialog div li:hover{
        border-bottom: none;
    }
    .modalDialog li:nth-last-child(2){
        margin-top: 17%;
        text-align: center;
        border-bottom: none;
    }
    .modalDialog div li:first-child,
    .modalDialog div li:last-child{
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }
}
@media only screen and (max-width: 414px){
    .hidden-mobail{
        display: none;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: left;
        border-bottom: solid 1px #b7192a;
    }
    .modalDialog div li:hover{
        border-bottom: none;
    }
    .modalDialog li:nth-last-child(2){
        margin-top: 17%;
        text-align: center;
        border-bottom: none;
    }
    .modalDialog div li:first-child,
    .modalDialog div li:last-child{
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }
}
@media only screen and (max-width: 360px) {
    #contact2 .txt, #contact2 .txt2, #contact2 .txtarea {
        width: 300px;
    }
    .hidden-mobail{
        display: none;
    }
    .effect .caption h4 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 12px;
        margin-top: 12px;
    }

    .effect .caption p {
        margin: 8px 0;
        text-align: center;
        font-style: italic;
        padding: 0 10px;
        font-size: 15px;
    }
    .map {

        padding: 0 0;
    }

    #header {
        position: fixed;
        height: 60px;
        display: block;
        width: 100%;
        z-index: 9;
        text-align: center;
        color: #f2f2f2;
        padding: 9px 0 0;
    }

    #header {
        top: 0%;
    }
    .modalDialog > div {
        width: 300px;
        left: -300px;
    }
    .modalDialog div li {
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: left;
        border-bottom: solid 1px #b7192a;
    }
    .modalDialog div li:hover{
        border-bottom: none;
    }
    .modalDialog li:nth-last-child(2){
        margin-top: 17%;
        text-align: center;
        border-bottom: none;
    }
    .modalDialog div li:first-child,
    .modalDialog div li:last-child{
        margin: 1% 0;
        padding: 4% 0;
        letter-spacing: 5px;
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }
    #section5 {
        padding-bottom: 27%;
    }
}

