.contact-center h2 {
    letter-spacing: 2px
}

#form-contact {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10%;
    background: rgba(0, 0, 0, .9);
    z-index: 99999;
    display: none;
    text-align: center;
    vertical-align: middle;
}

#menu-modile {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 99999;
    display: none;
    text-align: center;
    vertical-align: middle;
}

.contact-center {
    display: inline-block;
}

.txt, .txt2, .txtarea, #hide-contact, #send, #send2 {
    padding: 5px 9px;
    margin-top: 10px;
}

.txt, .txt2, .txtarea {
    text-align: center;
    display: block;
    color: #676767;
    width: 300px;
    border: 1px solid #ccc;
    font-size: 15px !important;
    line-height: 1.4em
}

.txtarea {
    height: 100px;
}

.txt:focus, .txtarea:focus {
    border-style: solid;
    border-color: #bababa;
    color: #444
}

input.error, textarea.error {
    border-color: #973d3d;
    border-style: solid;
    background: #f0bebe;
    color: #a35959
}

input.error:focus, textarea.error:focus {
    border-color: #973d3d;
    color: #a35959
}

#send {
    background: #70c6b9;
    width: 300px;
}

#hide-contact, #send, #send2 {
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 1.2em;
    border: solid 1px #f9f9f9;
    border-radius: 2px
}

#send2 {
    background: #b7192a;
    height: 51px;
    margin-bottom: 20px;
    width: 100%
}

#hide-contact {
    background: #c65d4e;
    width: 300px
}

#hide-contact:hover, #send2:hover, #send:hover, .modalbox:hover {
    background: #979797
}

.modalbox {
    color: #fff;
    display: block;
    cursor: pointer;
    padding: 10px 11px;
    font-size: 1.2em;
    border: 0;
    border-radius: 2px;
    background: #b7192a;
    width: 210px;
    text-decoration: none;
    text-align: center;
    margin: -2% auto 20px
}
#contact2{
    display: inline-block;
}
#contact2 .pull-left{
    width: 300px;
    margin-right: 10px;
}